.projectDetail {
   height: 100%;
   position: relative;

   .step {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .item {
         .introduce {
            .projectLogoParent {
               display: flex;
               align-items: center;

               .imageParent {
                  width: 40px;
                  height: 40px;
               }

               .projectTitle {
                  padding: 0 14px;
                  font-size: 1.2rem;
                  color: #444;
                  font-weight: bold;
               }
            }

            .description {
               color: #999;
               text-align: justify;
               line-height: 24px;
               margin: 15px 0 10px 0;
            }
         }

         .url {
            background: #fff;
            display: inline-block;
            padding: 10px 0 10px 10px;
            text-align: center;
            border-radius: 50px;
            border: solid 1px #ededed;
            color: #aaa;

            span {
               font-size: 0.8rem;
            }

            a {
               font-size: 0.85rem;
               color: #444;
               text-transform: capitalize;
               display: inline-block;
               margin: 0 10px;
               font-weight: bold;

               &:hover {
                  color: #ffb353;
               }
            }
         }

         .projectImage {
            position: relative;
            height: 300px;
            margin: 15px 0;

            &:after {
               // position: absolute;
               content: '';
               top: 0;
               right: 0;
               left: 0;
               bottom: 0;
               background: #f5f5f5;
               border-radius: 10px;
            }
         }

         .features {
            ul {
               display: flex;
               flex-wrap: wrap;
               align-items: flex-start;

               li {
                  width: calc(34% - 10px);
                  margin: 0 10px 0 0;
                  padding: 5px 5px 0 5px;
                  border-radius: 10px;
                  border: solid 1px #ededed;

                  &:last-child {
                     margin-right: 0;
                  }

                  &.developers {
                     .type {
                        span {
                           img {
                              border-radius: 50%;
                           }
                        }
                     }
                  }

                  .title {
                     color: #999;
                     padding-bottom: 5px;
                     border-bottom: solid 1px #ededed;
                     font-size: 0.8rem;
                  }

                  .type {
                     display: flex;
                     align-items: center;
                     flex-wrap: wrap;
                     margin-top: 5px;

                     span {
                        width: calc(25% - 10px);
                        margin: 5px;
                        text-align: center;

                        img {
                           max-height: 25px;
                           max-width: 25px;
                        }
                     }
                  }
               }
            }
         }
      }
   }

   @media (max-width: 575.98px) {
      .step {
         .item {
            .introduce {
               .projectLogoParent {
                  .projectTitle {
                     font-size: 1rem;
                     display: block;
                  }
               }
            }

            .url {
               display: block;
            }

            .projectImage {
               display: none;
            }

            .features {
               ul {
                  li {
                     width: calc(100% - 10px);
                     margin: 5px;
                  }
               }
            }
         }
      }
   }
   @media (min-width: 576px) and (max-width: 991.98px) {
      .step {
         height: auto;

         .item {
            .introduce {
               .projectLogoParent {
                  .projectTitle {
                     font-size: 0.9rem;
                     display: block;
                  }
               }
            }

            .url {
               display: block;
            }

            .projectImage {
               display: none;
            }

            .features {
               ul {
                  li {
                     width: calc(100% - 10px);
                     margin: 5px;
                  }
               }
            }
         }
      }
   }
   @media (min-width: 992px) and (max-width: 1199.98px) {
      .step {
         height: auto;

         .item {
            .introduce {
               .projectLogoParent {
                  .projectTitle {
                     font-size: 0.9rem;
                     display: block;
                  }
               }
            }

            .url {
               display: block;
            }

            .projectImage {
               height: 200px;
            }

            .features {
               display: none;
            }
         }
      }
   }
}
